* {
	box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

.header{
    width: 100%;

    position: fixed;
    left: 0;
    top: 0;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dbdbdb;
    
    background-color: rgba(255, 255, 255, 1);
    
    z-index: 1;
}

.container-header-mobile, .barra-inferior-mobile{
    display: none;
}

.container-header {
    width: 935px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.container-header ion-icon{
    font-size: 25px;
}

.container-header > div{
    display: flex;
}

.header-esquerda{
    display: flex;
    align-items: center;
}

.header-esquerda ion-icon{
    padding-right: 12px;
}

.header-esquerda img{
    padding-left: 12px;
}

.borda-vertical {
    width: 1px;
    height: 22px;
    background-color: #dbdbdb;
}

.pesquisa{
    height: 28px;
    width: 215px;
    font-size: 12px;
    font-weight: 400;;

    background-color: #fafafa;

    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #dbdbdb;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisa p{
    color: #979797;
}

.header-direita{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-direita ion-icon{
    padding-left: 20px;
}

.container-conteudo {
    margin: 0 auto;
    margin-top: 88px;
    width: 935px;

    display: flex;
}

.caixa-story{
    width: 614px;
    height: 118px;
    
    display: flex;
    align-items: center;

    border: 1px solid #dbdbdb;
    border-radius: 3px;
    
    background-color: #ffffff;

    overflow: hidden;
}

.caixa-story-mobile{
    display: none;
}

.stories {
    display: flex;
    align-items: center;
    margin-left: 4px;

    position: relative;
}

.seta{
    position: absolute;
    right: 35px;
    top: 32px;
}

.story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
    width:66px;
    height: 85px;

    position: relative;
}

.imagem-story img{
    width: 56px;
    position: absolute;
    top: 6px;
    left: 5px;
}

.story > img {
    width:66px;
    margin-bottom: 4px;
}

.story p{
    font-size: 12px;
    font-weight: 400;
}

.coluna-posts{
    width: 614px;
    margin-top: 24px;
}

.post{
    width: 100%;
    height: 749px;
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    margin-bottom: 60px;
}

.post-header{
    height: 60px;

    display: flex;
    justify-content: space-between;
}

.perfil {
    display: flex;
    align-items: center;
}

.perfil p{
    margin-left: 15px;
    font-weight: 500;
    font-size: 14px;
}

.perfil img{
    width: 32px;
    margin-left: 17px;
}

.post-header ion-icon{
    margin-top: 20px;
    margin-right: 19px;
}

.post > img{
    width: 100%;
}

.post-icones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    margin-top: 10px;
}

.post-icones ion-icon{
    font-size: 20px;
}

.icones-esquerda{
    padding-left: 10px;
}

.icones-esquerda ion-icon:nth-child(2){
    margin-left: 8px;
    margin-right: 8px;
}

.post-curtidas {
    display: flex;
}

.post-curtidas img{
    width: 20px;
    margin-left: 11px;
    margin-top: 8px;
}

.post-curtidas p{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 300;
}

.post-curtidas div{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 500;
}

.sidebar{
    width: 293px;
    background-color: #fafafa;
}

.proprio-perfil {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 30px;
}

.nome-proprio-perfil{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.nome-proprio-perfil h1{
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}

.nome-proprio-perfil h2{
    font-size: 14px;
    font-weight: 300;
    margin-top: 3px;
    color: #8e8e8e;
}

.sugestoes {
    margin-top: 24px;
    margin-left: 30px;
    width: 100%;
}

.topo-sugestoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.topo-sugestoes p:first-child{
    font-size: 12px;
    font-weight: 500;;
    color: #8e8e8e
}

.topo-sugestoes p:last-child{
    font-size: 12px;
    font-weight: 500;
    color: #262626;
}

.sugestao{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-top: 18px;
}

.perfil-sugestao{
    display: flex;
}

.texto-perfil-sugestao{
    margin-left: 10px;
    align-items: c;
}

.texto-perfil-sugestao p:first-child{
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}

.texto-perfil-sugestao p:last-child{
    font-size: 12px;
    font-weight: 400;
    color: #8E8E8E;
    margin-top: 5px;
}

.sugestao > p{
    font-size: 12px;
    font-weight: 500;
    color: #139EF2;
}

.sobre {
    width: 100%;
    margin-left: 30px;
    margin-top: 30px;
}

.sobre p{
    font-size: 11px;
    font-weight: 400;
    color: #c7c7c7;
}

.sobre p:last-child{
    margin-top: 20px;
}

@media (min-width: 614px) and (max-width: 935px){
    .sidebar{
        display: none;
    }

    .container-header{
        width: 100%;
    }

    .container-conteudo {
        width: 100%;

        justify-content: center;
    }

    .conteudo{
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
}

 @media (max-width: 614px){
    .sidebar{
        display: none;
    }

    .container-header{
        display: none;
    } 

    .container-header-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 64px;

        padding: 10px 20px;
    }

    .container-header-mobile ion-icon{
        font-size: 20px;
    }

    .container-conteudo{
        width: 100%;
    }

    .conteudo{
        width: 100%;

        display: flex;
        flex-direction: column;
    }
    
    .caixa-story{
        display: none;
    }

    .caixa-story-mobile{
        display: flex;
        align-items: center;

        width: 100%;
    }

    .stories-mobile{
        display: flex;

        width: 100%;
        overflow: hidden;
    }

    .coluna-posts{
        width: 100%;
    }

    .post{
        width: 100%;
    }

    .barra-inferior-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 25px;

        position: fixed;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 54px;

        padding: 0 20px;

        background-color:rgba(255, 255, 255, 1);
    }
} 